<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>
<form id="register-form">
    <div class="mb-3">
    <label for="email" class="form-label">Почта</label>
    <input type="text" class="form-control" id="email" aria-describedby="emailHelp">
    <div id="emailHelp" class="form-text"></div>
  </div>
  <div class="mb-3">
    <label for="username" class="form-label">Имя пользователя</label>
    <input type="text" class="form-control" id="username" aria-describedby="usernameHelp">
    <div id="usernameHelp" class="form-text"></div>
  </div>
    <div class="mb-3">
    <label for="lastname" class="form-label">Фамилия</label>
    <input type="text" class="form-control" id="lastname" aria-describedby="lastnameHelp">
    <div id="lastnameHelp" class="form-text"></div>
  </div>
    <div class="mb-3">
    <label for="firstname" class="form-label">Имя</label>
    <input type="text" class="form-control" id="firstname" aria-describedby="firstnameHelp">
    <div id="firstnameHelp" class="form-text"></div>
  </div>
    <div class="mb-3">
    <label for="password" class="form-label">Пароль</label>
    <input type="password" class="form-control" id="password" aria-describedby="textHelp">
    <div id="passwordHelp" class="form-text"></div>
  </div>

  <button type="submit" class="btn btn-primary" onclick="regFunction(event)">Зарегистрироваться</button>
</form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
        async function regFunction(event) {
    event.preventDefault();  // Предотвращаем стандартное действие формы

    // Получаем форму и собираем данные из неё
    const email = document.getElementById('email').value;
    const username = document.getElementById('username').value;
    const lastname = document.getElementById('lastname').value;
    const firstname = document.getElementById('firstname').value;
    const password = document.getElementById('password').value;
    try {
        const response = await fetch('/users/register', {
            method: 'POST',

            headers:{
                'Content-Type': 'application/json'
                    },
                        body: JSON.stringify({"email": email, "username": username, "password": password, "firstname": firstname, "lastname": lastname})
            // body: JSON.stringify({"username": username, "password": password, "grant_type": "password", "scope": "", "client_id": "string", "client_secret": "string"})
        });

        // Проверяем успешность ответа
        // if (!response.ok) {
        //     // Получаем данные об ошибке
        //     const errorData = await response.json();
        //     displayErrors(errorData);  // Отображаем ошибки
        //     return;  // Прерываем выполнение функции
        // }

        // const result = await response.json();
            window.location.href = '/pages/users/login';  // Перенаправляем пользователя на страницу логина

        // if (result) {  // Проверяем наличие сообщения о успешной регистрации
        //     window.location.href = '/pages/tasks/me';  // Перенаправляем пользователя на страницу логина
        // } else {
        //     alert(result.message || 'Неизвестная ошибка');
        // }
    } catch (error) {
        console.error('Ошибка:', error);
        alert('Произошла ошибка. Пожалуйста, попробуйте снова.');
    }
}

function displayErrors(errorData) {
    let message = 'Произошла ошибка';

    if (errorData && errorData.detail) {
        if (Array.isArray(errorData.detail)) {
            // Обработка массива ошибок
            message = errorData.detail.map(error => {
                if (error.type === 'string_too_short') {
                    return `Поле "${error.loc[1]}" должно содержать минимум ${error.ctx.min_length} символов.`;
                }
                return error.msg || 'Произошла ошибка';
            }).join('\n');
        } else {
            // Обработка одиночной ошибки
            message = errorData.detail || 'Произошла ошибка';
        }
    }

    // Отображение сообщения об ошибке
    alert(message);
}

    </script>
</body>
</html>